.text-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  background: #003049;
}
.text-wrapper p {
  font-size: 14px;
  padding: 9px 6rem;
  letter-spacing: 1px;
  color: transparent;
  /* -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #fff;
  text-stroke-color: #fff; */
  color: antiquewhite;
  text-transform: uppercase;
  white-space: nowrap;
  animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
